@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

.menu span {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    cursor: pointer;
}

.menu span:hover {
    background-color: #cbcbcb;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .right {
        display: none;
    }

}

#header {
    background-image: url('img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cbcbcb;
    padding: 10px;
    text-align: left;
}